body {
	background-color: #e68a00;
}

.header {
	margin-top: -20px;
	background-color: #b86e00;
	text-align: center;
}

.contentObj {
	margin-bottom: 24px;
	background-color: #ff9900;
	border: 1px solid black;
	line-height: 170%;
	text-align: center;
	font-size: 19px;
	border-radius: 23px;
	box-shadow: 8px 7px 20px ;
}

.link-bt {
	border: 1px solid black;
	width: 140px;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color:#FFA319; 
	border-radius: 15px;
}

.contentObj a {
	text-decoration: none;
	color: brown;
}

.contentObj a:visited {
	color: #8A5C00;
}

form {
	text-align: center;
}
input {
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
}

.searchB {
	text-align: center;
	border: 1px solid black;
	width: 150px;
	margin-left: 44%;
	margin-bottom: 20px;
	margin-top: 15px;
	background-image: url('https://cdn3.iconfinder.com/data/icons/musthave/128/Search.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-color: orange;
	
}

.footer {
	margin-bottom: 10px;
}

@media (max-width: 600px){
	.searchB {
		margin-left: 22%;
	}
}
